@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

button{
    font-family: 'Akaya Telivigala', cursive;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: skyblue;
    padding: 5px;
    font-family: 'Akaya Telivigala', cursive;
}
input{
    border: 1px solid rgb(135, 135, 235);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
input:focus {
    outline:none;
}
label{

    font-family: 'Akaya Telivigala', cursive;
    color:skyblue;
    font-size:20px;
}
button:hover{
    font-family: 'Akaya Telivigala', cursive;
    color:white; background-color: skyblue;   
}
button:focus {

    font-family: 'Akaya Telivigala', cursive;
    outline:none;
}

#Bigbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
}


@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
 
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}


.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}